
<div class="container-fluid">
  <div class="row card-row">
    <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 1px;">
      <%= image_tag 'index_menu.jpg', width: '100%' , alt: 'About Us'%>
    </div>
    <div class="col-xs-12 col-xs-6 col-md-6">
      <div clas="info-box">
        <div class="info-box-title">
          Menu
        </div>
        <div class="info-box-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua.
            Ut enim ad minim reprehenderit veniam. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          </p>
        </div>
        <div class="info-box-footer  center">
          <%= link_to 'Explore Menu', menu_path, class: 'btn' %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row card-row">
    <div class="col-xs-12 col-xs-6 col-md-6">
      <div clas="info-box">
        <div class="info-box-title">
          About Us
        </div>
        <div class="info-box-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua.
            Ut enim ad minim reprehenderit veniam. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          </p>
        </div>
        <div class="info-box-footer  center">
          <%= link_to 'Find About Us', about_us_path, class: 'btn center' %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 1px;">
      <%= image_tag 'index_about.jpg', width: '100%', alt: 'About Us'%>
    </div>
  </div>
</div>
