.menu-section{
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}


.menu-section .lable-menu-section{
  background: grey;
  color: #fff;
  border: 2px solid #fff;
}

.menu-section .lable-menu-section:hover{
  background: #000;
}

.menu-section .active{
  background: #000;
}

.menu-section .selected-section{
  background: #5cb85c;
}


.menu-price{
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  background: grey;
  color: #fff;
  font-weight: bold;
}
